*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-container{
    width: 120rem;
    height: 8.125rem;
    /* height: 300px; */
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* margin-bottom: 200px; */
}
.gamer-container{
    padding-left: 240px;
    padding-top: 37px;
    padding-bottom: 37px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.icons-container div{
    padding-right: 240px;
    padding-top: 37px;
    padding-bottom: 37px;
    display: flex;
    align-items: center;
    gap: 32px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.text-primary{
/* text-align: center; */
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.gamer{
    color: #0B0223;
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.G{
    color: #FF42A5;
}
.icons-container{
    color: #3C354F;
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 500;   
}
.follow{
    width: 16.375rem;
    height:3.5rem;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
    padding-top: 16px;
}
.i-container{
    text-align: center;
}
.fa-youtube{
    color: #F61C0D;
    padding-left: 24px;
}
.fa-tiktok{
color: black;
padding-left: 16px;
}
/* banner section starts here  */
.banner-container{
    display: flex;
    /* background: #FFF; */
}
.banner-text-container{
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    width: 50%;
    /* height: 700px;; */
    padding: 148px 309px 148px 240px;
    /* text-align: center; */
    /* align-content: center; */
}
.banner-description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 17px;
}
.banner-description{
    display: flex;
    gap: 12px;
    color: #534C64;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-title{
    color: #0B0223;
    /* text-align: center; */
    font-family: "Work Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.goat{
    /* text-align: center; */
    font-family: "Work Sans";
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.fa-play, .fa-download{
    color: #F948B2;
}
.fa-user-group{
    background-color: white;
}
.btn-primary{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
     margin-top: 40px;
    /* display: inline-flex; */
    padding: 21px 40px;
    /* align-items: flex-start; */
    /* gap: 10px; */
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}
.btn-different{
background: #4EC5F7;
margin-left: 24px;
}

/* banner section ends here  */




/* responsive for phone  */
@media screen and (max-width:576px) {
.nav-container{
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* padding-bottom: 78px; */
}
.gamer-container{
    padding-left: 0px;
    padding-bottom: 0px;
    /* width: 100%; */
}
.i-container{
    flex-direction: column;
}
.icons-container div {
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* banner */
.banner-container{
    flex-direction: column-reverse;
}
.banner-img img{
    width: 100%;
    padding: 20px;
}
.banner-div-container{
    width: 100%;
    
}
.banner-text-container{
    width: 95%;
    margin: 20px;
    /* text-align: center; */
    /* margin-left:  60px; */
    padding:10px;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner-title{
    font-family: "Work Sans";
    font-size: 25px;
    padding-left: 60px;
    padding-top: 30px;
}
.goat{
    padding-left: 60px;
    font-size: 50px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.banner-description{
    text-align: center;
    display: flex;
    gap: 12px;
    color: #534C64;
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 500;
    text-transform: lowercase;
}
.btn-primary{
    font-size: 15px;
     margin-top: 20px;
     margin-bottom: 30px;
    padding: 11px 20px;
    margin-left: 15px;
}
.banner-description{
    padding-left: 60px;
}
.btn{
    margin-left: 60px;
}
}


/* responsive for tablet  */
@media screen and (min-width:576px) and (max-width:768px){
    .nav-container{
        width: 100%;
    }
    .gamer-container{
        width:0%;
        padding-left: 20px;
    }
    .icons-container div{
        padding-right: 10px;
    }
    .fa-youtube{
        padding-left: 10px;
    }
    .fa-tiktok{
        padding-left: 10px;
    }
    .follow{
        width: 200px;
    }
    /* banner section  */
    .banner-img img{
        width: 100%;
        padding: 20px;
    }
    .banner-text-container{
        width: 100%;
        align-content: center;
        padding:10px;
        background-image: url(./images/Group\ 14.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
     .banner-title{
        font-family: "Work Sans";
        font-size: 25px;
        padding-left: 60px;
        padding-top: 30px;
    }
    .goat{
        padding-left: 60px;
        padding-bottom: 15px;
        font-size: 50px;
        padding-top: 10px;
    }
    .banner-description{
        text-align: center;
        display: flex;
        gap: 12px;
        color: #534C64;
        font-family: "Work Sans";
        font-size: 12px;
        font-weight: 500;
        text-transform: lowercase;
    }
    .btn-primary{
        font-size: 12px;
         margin-top: 20px;
         /* margin-bottom: 30px; */
        padding: 11px 20px;
        margin-left: 15px;
    }
    .banner-description{
        padding-left: 60px;
    }
    .btn{
        margin-left: 60px;
    }
    .banner-description-container{
        gap: 20px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    
}